:root {
  --white: #fff;
  --blue-green: #00c9c8;
  --blue-green-hover: #00dbdb;
  --black: #000;
  --grey-dark: #303030;
  --bg-main: #121212;
  --bg-secondary: #1f1f1f;
  --bg-secondary-hover: #1a1a1a;

  /* font-size */
  --regular: 18px;
  --large: 36px;

  /* fontfamily */
  --open-sans: "Open Sans", sans-serif;
  --permanent-marker: "Permanent Marker", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--bg-main);
}
