:root {
  --white: #fff;
  --blue-green: #00c9c8;
  --black: #000;
  --grey-dark: #303030;

  /* font-size */
  --regular: 18px;
  --large: 36px;

  /* fontfamily */
  --open-sans: "Open Sans", sans-serif;
  --permanent-marker: "Permanent Marker", cursive;
  --roboto-slabs: "Roboto Slab", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--black);
}
